.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

header {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromLeft;
  
  background: #333;
  padding: 30px;
}

@media all and (min-width: 480px) {
  .Login {
    float:left;
    display: inline-block;
    position: left;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 200px;
    margin: auto;
    background-color: #f3f3f3;
  }

    .img{
	float:right;
        display: inline-block;
   	position: fixed;
    	top: 0;
   	bottom: 0;
    	left: 0;
    	right: 0;
    	width: 200px;
    	height: 200px;
	transition: background-color 400ms ease;
    	margin: auto;

}
.centered{
    
  position: absolute;
  top: 50%;
  left: 50%;
  max-width:100%;
  max-height:100%;
  transform: translate(-50%, -50%);
  text-align: center;

}
.centerImage{
    
  position: absolute;
  top: 50%;
  left: 50%;
  max-width:100%;
  max-height:100%;
  transform: translate(-50%, -50%);
  text-align: center;

}
.app{

height: 948px !important;
  width: 100%;
 background: linear-gradient(to right, #F6FFFD, #E4F9F4 , #A1FAE4);
}
.split {
  height: 60%;
  width: 42%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 0;
}

/* Control the left side */
.left {
 
    object-fit: cover;
  left: 8%;
  top:20%;
  background-color: white;
}

/* Control the right side */
.right {
 
    object-fit: cover;
  right: 8%;
  top:20%;
      background: linear-gradient(to right, #7DC1BC, #8FE2E2, #193A90);
    
    
}

input[type=text], input[type=password],select {
  width: 80%;
  font-size:30px;
  padding: 0;
  background:transparent;
  margin-left:10%;
  display: inline-block;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}

.LoginSubmit {
  width: 80%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-left:20% !important;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn {
            color: white;
		width:50%;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
 background: rgb(66, 184, 221); /* this is a light blue */
	margin-left:24% !important;
	margin-top:40px;
        }

.prbtn {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
 background: rgb(66, 184, 221); /* this is a light blue */
	margin-top:60px !important;
margin-left:42% !important;
        }

.logout{
     line-height: 12px;
     width: 30px;
     font-size: 8pt;
     font-family: tahoma;
     margin-top: 1px;
     margin-right: 2px;
     position:absolute;
     top:0;
     right:0;
 }
.i1 {

}
.p1{
  font-size:30px;
  width: 100%;
right:200px;
  padding: 0;
  margin:0;
  background:transparent;
  
  display: inline-block;
  border: 4px;
}
.new{
width: 90%;
  font-size:20px;
  padding: 0;
  margin: 8px 0;
  background:transparent;
  display: inline-block;
  border-radius: 0;
  border: 1px solid black;
  box-sizing: border-box;
	margin-left:20px !important;



}
.new1{
float:left;
left:20px%;
width:40%;
margin-left:20px !important;
}
.delbtn{
left:10px;
float:right;
}
.new2{
float:left;
background-color:white;
border: 1px solid black;
width: 40%;
}
.delbtn{
left:10px;
float:right;
}

.10{
  margin: auto;
  width: 60%;
  border: 3px solid black;
  padding: 10px;
}
.11{
  margin: auto;
  width: 60%;
  border: 3px solid  black;
  padding: 10px;
}
.btn1{
  display: inline-block;
	 margin-left:50px;
	width:20% !important;
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
 background: rgb(66, 184, 221); /* this is a light blue */
        }

.H{
margin-left:20px;
font-size:50px;
}
.PP{
margin-left:20px;
}
.L{
margin-left:10% !important;
font-size:20px;
}


.TH{
width:80% !important;
margin-left:20% !important;
margin-top:0 !important;
text-align:center !important;
}
.btnn{
margin-left:0 important;
margin-top:0 !important;
width:80% !important;
}
.TH2 {
    padding: 5px;
    width: 13% !important;
    margin-left: 20% !important;
    text-align: center !important;
}
.TH3 {
    padding: 5px;
 
    margin-left: 2% !important;
    text-align: center !important;
}
.LoginLabel{
width:20% ;
float:left;
left:20% !important;
margin-left:0px !important;

}
.LoginInput{
width:40%;
float:left;
margin-left:0px !important;
}
.SignupLabel{
width:10%;
float:left;
margin-left:0px;
}
.SignupInput{
width:40%;
float:left;
margin-left:0px;
}
}